@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background-color: var(--almost-white);
    font-family: "Epilogue", sans-serif;
    min-height: 100vh;
    text-align: center;
    
}

.navbar, .desc, .client-list {
    padding: 1rem;
}

.dropdown-content {
    display: none;
    
}


#menu, #features, #company{
    border: none;
    background-color: var(--almost-white);
    cursor: pointer;
}

.landing .desc {
    margin: 1rem 0;
}

.landing .desc p {
    margin: 1.5rem 0;
    color: var(--medium-gray);
    line-height: 1.8rem;
}

/* .navbar{
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
} */

#landing-img img {
    width: 100%;
    height: 100%;
}

.learn-more {
    background-color: var(--almost-black);
    color: var(--almost-white);
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.client-list {
    display: flex;
    justify-content: space-around;
}

.show {
    display: block;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 768px) {
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    
    .navbar ul {
        list-style: none;
        display: flex;
    }

    .navbar ul li {
        margin: 0.5rem 1rem;
    }

    #register {
        border: 1px solid var(--almost-black);
        /* padding: 1rem; */
        border-radius: 1rem;
        text-align: center;
    }

    .landing {
        display: flex;
        flex-direction: row-reverse;
        padding: 5rem;
    }

    .landing-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        margin: 0;
    }

    .desc h1 {
        font-weight: 700;
        font-size: 4.2rem;
        margin-bottom: 2rem;
    }

    .desc p {
        padding-right: 8rem;
        margin-bottom: 2rem;
    }

    .learn-more:hover {
        background-color: var(--almost-white);
        color: var(--almost-black);
        cursor: pointer;
    }
}
